.homeContainer {
  background-color: #343a40;
  border-radius: 5%;
  box-shadow: 5px 10px 18px #888888;
  color: #e1e8eb;
  margin-left: 35vw;
  margin-top: 10vh;
  width: 30vw;
}

.homeContainer > * {
  padding: 10px;
}

.homeIntroduction > * {
  padding: 5px;
}

.homeIntroduction > h1 {
  color: #ffc107;
}

.roomCodeForm {
  display: flex;
  justify-content: center;
  text-align: center;
}

.roomCodeForm > div {
  flex-direction: column;
}

.roomCodeInput {
  border-radius: 4px;
  margin: 20px 0 10px 0;
  padding: 10px;
}

.roomCodeButton {
  background-color: #ffc107;
  border: 1px solid #ffc107;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 14px 20px;
}

.homeRedirect {
  font-size: small;
  font-style: italic;
}
